{{template "base" .}}

{{define "title"}} Login {{end}}

<head>
    <link rel="stylesheet" href="../static/css/form.css">
</head>

{{define "nav"}}
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
{{end}}

{{define "body"}}
    <div class="success">
        {{.SignupSuccess}}
    </div>
    <div class="failure">
        {{.LoginFailure}}
    </div>
    <div class="row">
        <div class="column">
            <img src="../static/img/welcome.png" alt="Welcome" width="500" height="333">
        </div>
        <div class="column">
            <h1>Log In</h1>
            <p>Login to access your account!</p>
            <form action="/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Enter your email address" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>
                <div>
                    <input type="submit" value="Login">
                </div>
                <div class="link">
                    <a href="/signup">Signup</a>
                </div>
            </form>
        </div>
    </div>
{{end}}